* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

:root{
    --bg-color: #0ff;
    --main-color: #353535;
    --secondary-color: rgb(164, 166, 160);
    --white: #fff ;
    /* font */
    --lg: 2.6rem;
    --md: 1.8rem;
    --sm: 1rem;
}

html{
    font-size: 62.5%;
}

body{
    background: var(--bg-color);
}

.hero{
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--white);

}

.hero img{
    width: 100% ;
    object-fit: contain;
    
}

.hero a{
    
    font-size: var(--md);
    color: var(--main-color);
   
}

#main__container{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/Cover\ \(1\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}



.main__info h2{
    font-size: var(--lg);
    color: var(--white);
    margin-bottom: 8rem;
}

.main__info button{
    padding: 0.8rem;
    background-color: var(--bg-color);
    font-size: var(--md
    );
    font-weight: 700;
    border: 1px solid var(--white);
}


#main__container h2, button{
    font-family: 'Cinzel', serif;
}




@media (max-width:500px){
    .social-medias-desktop{
        display: none;
    }

    #main__container .main__info{
        position: absolute ;
        left: 1.9rem;
        top: 16rem;
    }
}