* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

:root{
    --bg-color: #0ff;
    --main-color: #353535;
    --secondary-color: rgb(164, 166, 160);
    --white: #fff ;
    /* font */
    --lg: 2.6rem;
    --md: 1.8rem;
    --sm: 1rem;
}

html{
    font-size: 62.5%;
}

body{
    background: var(--bg-color);
}

.hero{
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--white);

}

.hero img{
    width: 100% ;
    object-fit: contain;
    
}

.hero a{
    
    font-size: var(--md);
    color: var(--main-color);
   
}


@media (max-width:500px){
    .social-medias-desktop{
        display: none;
    }
}