.hero{
    width: 0;
}


.hero img{
    margin-left: 5rem;
    width: 30rem;
    background-color: white;
    border-radius: 10px;

}

.about-me{
    display: flex;
    gap: 2rem;
}

.about-me .profile-info{
    width: 40rem;
}

#main__container .about-me img{
    width: 40rem;
    border-radius: 8px;
}





.slider .jobs:hover .jobs__info{
    backdrop-filter: blur(0px);
    background: linear-gradient( 90deg, #f00, #224);
    opacity: 0.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.slider .jobs:hover{
    background: linear-gradient( 90deg, #f00, #224 );
    background-position: center;
    
    
}

